* {
  box-sizing: border-box;
}

body{
  background:  #FFFFFF;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

main {
  padding: 25px;
  background: #fff;
  border: 5px inset #e6e6e6;
  width: 600px;
  height: 620px;
  margin: 20px auto;
}

h1,h2 {
  padding: 0;
  margin: 0;
}

hr {
  height: 10px;
  background: red;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  margin: 5px;
  font-size: 13px;
}

ul {
  position: relative;
  right: 5px;
  margin: 20px auto;
  padding: 0;
  width: 550px;
  height: 332px;
  background: #fff;
  cursor: url('../images/cursor.png'),auto;
}

ul li {
  list-style-type: none;
  margin: 5px;
  width: 100px;
  height: 100px;
  float: left;
  background: #f5f5f5;
}

.score-timer div {
  display: inline-block;
  line-height: 30px;
  font-size: 15px;
}

.score-timer div.play {
  width: 140px;
  height: 60px;
  /*background: green;*/
  vertical-align: top;
  line-height: 60px;
}

.scoreboard, .timer {
  width: 85px;
  height: 60px;
}

.scoreboard {
  /*background: blue;*/
}

.score-timer div.instructions {
  height: 60px;
  vertical-align: top;
  line-height: 60px;
}

.timer {
  /*background: blue;*/
}

.game-over {
  position: relative;
  z-index: 2;
  top: -225px;
  font-size: 40px;
}

.hidden {
  display: none;
}

.instructions-body {
  position: absolute;
  top: 275px;
  z-index: 2;
  background: #fff;
  width: 550px;
  height: 350px;
  line-height: 80px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
