body{
  background-image:  red;
  text-align: center;
}

.hole {
  border: 5px solid black;
  width: 120px;
  height: 120px;
  border-radius:70px;
  /*float: left;*/
  margin: 20px;
  display: inline-block;
}
/*
.hole:active{
  width:200px ;
  height:200px;
  position:relative;
  /*right: -65px;
  top: 200px ;*/


  .grid {
    width: 100%;
  }

  ul {
    list-style: none;
  }


  .color {
    background-color: black;
  }
  .pause{
    display: none;
  }
